*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color:#f2f4f8;
}

 .sub-nav-cont2-mobile li{
    display: none;
 }

#mobile-view label,#mobile{
    display: none;
}


.nav-container{
    display: flex;
    justify-content: space-between;
    /* border-top: 1px solid rgba(136, 134, 134, 0.519); */
    background-color: white;
}

.sub-nav-cont1{
    padding: 20px 15px;
    cursor: pointer;   
}

.sub-nav-cont2{
    cursor: pointer;
}
.sub-nav-cont3{
    cursor: pointer;
}
.sub-nav-cont2>ol{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    /* gap: 10px; */
}

.sub-nav-cont2>ol>li{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #006e74;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(136, 134, 134, 0.519);
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 20px 20px;
}

.sub-nav-cont2>ol>li:hover{
    border-bottom: 2px solid #36c8ea;
}

.sub-nav-cont3>ol{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    list-style: none;
}

.sub-nav-cont3>ol>li{
    display: flex;
    justify-content: center;
    padding: 20px 10px; 
    align-items: center;
}

.search>.sear>span:hover{
    background-color:#36c8ea;
}

.container{
    margin: 0px 20px;
}

.next-container{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.sub-next{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding:10px 8px;
    width: 23%;
    border-radius: 3px;
    box-shadow:0 2px 5px 0 rgba(183, 194, 210, 0.3);
    align-items: center;
}


.sub-next>div>p{
    display: flex;
    align-items: center;
    gap: 5px;
}

.sub-ship>div>ol>li:hover{
    cursor: pointer;
    
}

.pending-approvals{
    display:flex ;
    
}

.pending-approvals-para{
    color:#7c8089;
    font-size: 14px;
    align-self: flex-end;
    margin-left: 6px;
}

.inbound{
    display: flex;
    font-size: 12px;
    /* font-family: ; */
    justify-content: space-between;
    color: #7c8089;
    margin-top: 3px;
    
}

.inbound>div>p>span>span{
    font-size: 10px;
    visibility: hidden;
}

.green{
    background-color: green;
    border-radius: 50px;
}

.orange{
    background-color: orange;
    border-radius: 50px;
}

.red{
    background-color: red;
    border-radius: 50px;
}

.body-container{
    display: flex;
    gap: 20px;   
    /* height: calc(100vh - 4rem); */
}

.shipment{
    width: 60%;
    height: 20%;
    background-color: white;
}

.sub-ship>div>ol{
    display: flex;
    gap: 3rem;
    list-style: none;
    font-size: 18px;
    /* cursor: pointer;    */
}

.view_ship-mobile{
    display: none;
}

.search-mobile{
    display: none;
}

.shipment>.sub-ship>div>ol>li{
    border-bottom: 2px solid white;
    padding: 10px;
}

.shipment>.sub-ship>div>ol>li:hover{
    cursor: pointer;
    border-bottom: 2px solid #0097ab;
}

.sub-ship{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #7c8089;
}

.sub-ship>div>p{
    padding: 10px;
    color:#36c8ea;
    font-weight :700;
}

.search>div{
    display: flex;
    gap: 1rem;
    border: 1px 1px;
    padding: 10px 20px;
}

.search>div>span{
    padding: 10px;
    background-color: #bfbfbf4e;
    border-radius: 3px;
    cursor: pointer;
}

.search>div>div,.search>div>div>input{
    display:flex;
    align-items: center;
    width: 100%;
}

.search>div>div>input{
    padding: 10px;
    border: none;
    outline: none;
    background-color: #f8f9fb;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(183, 194, 210, 0.3);
}

.search>div>div>span{
    background-color: #f8f9fb;
    padding: 10px;
    margin-right: 10px;
    border-radius: 3px;
    box-shadow:0 2px 5px 0 rgba(183, 194, 210, 0.3);
}

.shipment-container{
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-gap: 1rem;
    background-color: #f2f4f8;
    overflow-y: scroll;
    height: 27rem;
}

::-webkit-scrollbar{
    width: 0.15rem;
}
    ::-webkit-scrollbar-track{
        background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb{
        background: #888;
    }
    ::-webkit-scrollbar-thumb:hover{
        background: #555;
    }


.sub-cont1,.sub-cont2,.sub-cont3,.sub-cont4{
    background-color:white;
    display: grid;
    grid-auto-columns: minmax(100%,auto);
    padding: 2rem 1rem;
    /* align-items: flex-start; */
}

.top-sub-cont1{
    display: flex;
    justify-content: space-between;
    padding: 2px 2px;
    /* font-size: 12px; */
    /* align-items: flex-start; */
   
}

.sub-div1{
    display: flex;
    justify-content:space-between;
    align-items: center;
    grid-gap: 5px;
}

.middle-sub-cont1{
    display: flex;
    justify-content: space-between;
    background-color:#f8f9fb;
    margin: 15px 15px;
}

.second-middle-sub-cont1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 2rem 0.6rem;
}

.icons{
    display: flex;
    justify-content: space-between;
}

.risk-chain{
    /* display: flex; */
    justify-content: space-between;
    width: 40%;
}

.sub-risk{
    display: flex;
    justify-content: space-between;  
    background-color: white;
    align-items: center;
    padding: 4px;
}

.sub-risk>div>span{
    color: aqua;
}

.UST-risk{
    /* display: flex; */
    padding-top: 40px;
    padding-bottom: 48%;
    text-align: center;
    background-color:#f8f9fb ;
}

.omni{
    padding-bottom: 30px;   
}







/* 
@media screen and (max-width: 940px){
    .next-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .sub-next{
        width: 95%;
    }

    .shipment{
        
        height: 100%;
        background-color: white;
    }

    .sub-ship{
        width: 100%;
    }

    .body-container{
        display: grid;
        width: 100%;
    }

    .sub-ship{
        width: 100%;
    }

    .risk-chain{
        width: 100%;
    }


    .shipment{
        display: grid;
        width: 100%;
    }

    .container{
        margin: 0%;
    }



} */








/* @media screen and (max-width: 540px){
    .next-container{
        display: grid;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .main-sub-ship{
        width: 100%;
    }
    .shipment-container{
        width: 100%;
    }

    .sear>span{
        width: 100%;
    }

    .shipment-container{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }


    .sub-cont1{
        width: 100%;
    }
} */
























@media(min-width:354px) and (max-width:490px){

    #mobile-view{
        background-color: white;
    }
    #mobile-view label,#mobile{
        display: flex;
        padding-top: 20px;
        padding-right: 15px;
    }

    .sub-nav-cont3{
        width: 90%;
        gap: 0px;
    }

    .sub-ship{
        
        width: 100%;
    }

    .next-container{
        grid-template-rows: 1fr; 
        display: flex;
        width: 100rem;
        grid-gap: 10px;
    }

    .scroll-top-container{
        overflow: scroll;
    }
    
    .scroll-top-container::-webkit-scrollbar{
        height: 0rem;
    }
    
    .container{
        width: 100%;
    }

    .sub-next{
        width: 22.5%;
    }

    .body-container{
        display: flex;
        flex-direction: column;
    }

    .shipment{
        width: 100%;
    }

    .shipment-container{
        display: grid;
        grid-template-columns:1fr ;
        overflow-y: scroll;
        height: 25rem;
    }

    .main-sear{
        overflow-x:scroll;
        width: 70%;
    }
    .main-sear::-webkit-scrollbar{
        width: 5px;
    }


    .main-sub-sear span{
        margin: 2% 5%;
    }


    .sub-ship ol{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 8%;
    }

    .view_ship{
        display: none; 
    }

    .view_ship-mobile{
        display: flex;
        padding-left: 5%;
        padding-top:2%;
    }

    .shipment{
        margin: 0px;
        padding: 0px;
    }


    .sub-nav-cont2-mobile{
        display: none;
    }
    .sub-nav-cont2-mobile>ol>li{
        display: none;
    }
    .sub-nav-cont2>ol{
        display: none;
    }  

    #mobile-view input:checked~.sub-nav-cont2-mobile{
        display: block;
    }

    .sub-nav-cont3>ol{
        display: flex;
        justify-content:space-between;
    }

    .sub-nav-cont3>ol>span{
        width: 100%;
    }

    .sub-nav-cont2-mobile>ol>li{
        background-color: white;
    }
    .sub-nav-cont2-mobile{
        padding: 1rem;
    }
    #mobile{
        display: none;
    }

    .sub-nav-cont2-mobile>ol>li{
        display: flex;
        padding: 1rem;
        flex-direction: column;
        align-content: space-between;
        justify-content: center;
        align-items: center;
        margin: 0.3rem;
        border-bottom: 1px solid #0097ab;
    }

    .container{
        margin: 0%;
    }

    .risk-chain{
        width: 100%;
    }
    
}







/* tab view */


@media(min-width:500px) and (max-width:1200px){

    #mobile-view{
        background-color: white;
    }
    #mobile-view label,#mobile{
        display: flex;
        padding-top: 20px;
        padding-right: 15px;
    }
    #mobile-view input:checked~.sub-nav-cont2-mobile{
        display: block;
    }
    .sub-nav-cont3{
        width: 90%;
        gap: 0px;
    }
    
    .sub-nav-cont2-mobile{
        display: none;
    }
    .sub-nav-cont2-mobile>ol>li{
        display: none;
    }
    .sub-nav-cont2>ol{
        display: none;
    }  
    .sub-nav-cont2-mobile>ol>li{
        background-color: white;
    }
    .sub-nav-cont2-mobile{
        padding: 1rem;
    }
    #mobile{
        display: none;
    }

    .sub-nav-cont2-mobile>ol>li{
        display: flex;
        padding: 1rem;
        flex-direction: column;
        align-content: space-between;
        justify-content: center;
        align-items: center;
        margin: 0.3rem;
        border-bottom: 1px solid #0097ab;
    }
    .next-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2%;
    }

    .sub-next{
        width: 97%;
    }

    .body-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .shipment{
        width: 100%;
    }
    .shipment-container{
        width: calc(100% + 2px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px
    }

    .risk-chain{
        width: 100%;
    }
















}





















/* @media(max-width:700px) {

.sub-next{
    align-items:center;
    
}
.next-container{
    grid-template-rows: 1fr; 
     display: flex;
    width: 100rem;
}

.scroll-top-container{
    overflow: scroll;
}

.scroll-top-container::-webkit-scrollbar{
    height: 0rem;
}

.container{
    width: 100%;
}

.body-container{
    width: 20%;
}

 
}  */
